.nav {
    /*원하는곳에 고정*/
    position: fixed;
    bottom: 0;
    width: 100%; 
    /**/
  background-color: #f9f9fa;
  padding: 20px 40px;
  box-sizing: border-box;
  /*padding을 줘도 내 width=box 사이즈는 건들지 말라*/
  border-top: 1px solid rgba(229, 226, 226, 0.959);
}
.nav__link{
    color: #363c44;
    text-decoration: none;
    position: relative; 
    /*이 부모태그를 기준으로 세 메세지의 자리를 옮기겠다*/
}

.nav__notification {
    position: absolute;
    left:15px;
    bottom: 15px;
}
.nav__notification__2 {
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    left: 35px;
    bottom: 30px;
}
.nav__list {
  display: flex;
  justify-content: space-between;
